{{define "title"}} Sign In {{end}}
{{define "keywords"}}   {{end}}
{{define "description"}}  {{end}}
{{define "year"}} {{.year}} {{end}}

{{define "body"}}

    <div class="row-fluid index-list">
        <div class="span12">

            <form action="/{{cfAdminPath}}/updatePassword/" method="post">
                <p><label for="">Old Password:</label> <input name="oldPassword" type="password"><span
                            class="red">*</span></p>
                <p><label for="">New Password:</label> <input name="newPassword" type="password"><span
                            class="red">*</span></p>
                <p><label for="">Confirm Password:</label> <input name="newPasswordAgain" type="password"><span
                            class="red">*</span></p>
                <p><label for=""></label> <input type="submit" name="doSubmit" value="submit" class="btn btn-primary"></p>
            </form>

        </div>
    </div>

{{end}}

{{define "javascript"}}
    <script type="text/javascript">
        $('[name="doSubmit"]').click(function () {
            var newPassword = $('[name="newPassword"]').val()
            var newPasswordAgain = $('[name="newPasswordAgain"]').val()
            if (newPassword === ''){
                alert('new password cannot be empty')
                return false
            }

            if (newPassword !== newPasswordAgain){
                alert('new password not match')
                return false
            }
        })
    </script>
{{end}}